<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-bs-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ formClicked }} Account</h4>
			</div>
			<div class="modal-body" ng-transclude>
				<form ng-submit="submitAccount()" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								placeholder="user1@gmail.com" ng-model="accountForm.email" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="accountForm.name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Gender</label>
						<div class="col-sm-10">
							<label class="radio-inline"> <input type="radio"
								value="MALE" ng-model="accountForm.gender">Male
							</label> <label class="radio-inline"> <input type="radio"
								value="FEMALE" ng-model="accountForm.gender">Female
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Role</label>
						<div class="col-sm-10">
							<select ng-model="accountForm.role">
								<option value="ADMIN">Admin</option>
								<option value="USER">User</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Phone</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="accountForm.phone" />
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary"
							data-bs-dismiss="modal" value="Submit">Submit</button>
					</div>
			</div>
		</div>
	</div>