

<div class="container white">



	<div class="row">
		<div class="col-sm-7">
			<h1>ACCOUNT MANAGEMENT</h1>
		</div>
		<div class="col-sm-3">
			<input class="form-control me-2" type="text" placeholder="Search"
				aria-label="Search" ng-model="search">
		</div>
		<div class="col-sm-2">
			<button ng-click="toggleForm(account, 'create')">Add</button>
			<button>F5</button>
		</div>
	</div>





	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Role</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
		<tr
			ng-repeat="account in accounts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy : 'id' | filter: search">
			<td>{{account.name}}</td>
			<td>{{account.gender}}</td>
			<td>{{account.role}}</td>
			<td>{{account.phone}}</td>
			<td>{{account.email}}</td>
			<td><button ng-click="toggleForm(account, 'edit')">
					<img alt="pen" src="images/pencil-square.svg">
				</button>
				<button ng-click="removeAccount(account)">
					<img alt="trash can" src="images/trash-fill.svg">
				</button></td>
		</tr>
	</table>
	<nav aria-label="...">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" 
<!-- 			ngClick="setPage(currentPage-1)" -->
			href="#">Next</a></li>
<!-- 			ngRepeat for every page in $scope.numberOfPages -->
			<li class="page-item"><a class="page-link" ng-click="setPage(1)"
<!-- 				ngChange="setPage($index)" -->
				href="#">1</a></li>
			<li class="page-item active" aria-current="page"><a
				class="page-link" ng-click="setPage(2)" href="#">2</a>
			<li class="page-item"><a class="page-link" href="#"
				ng-click="setPage(3)">3</a></li>
			<li class="page-item"></li>
		</ul>
	</nav>
	<add-update-delete visible="showForm"> </add-update-delete>
</div>









