

	<div class="container white"  ng-show="!form">
		


		<div class="row">
			<div class="col-sm-3">
				<a ng-click="createAccount()">Add a new account</a>
			</div>
		</div>

		<h1>Accounts list</h1>

		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>Email</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="account in accounts">
				<td>{{account.id}}</td>
				<td>{{account.name}}</td>
				<td>{{account.gender}}</td>
				<td>{{account.phone}}</td>
				<td>{{account.email}}</td>
				<td><a ng-click="viewAccount(account)">View</a></td>
				<td><a ng-click="editAccount(account)">Edit</a></td>
				<td><a ng-click="removeAccount(account)">Remove</a></td>
			</tr>
		</table>

	</div>
	
		<div class="container white"  ng-show ="form">
		<form ng-submit="submitAccount()" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Id:</label>
				<div class="col-sm-10">
					<p>{{accountForm.id}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="accountForm.name" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Phone:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="accountForm.phone" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="accountForm.email" />
				</div>
			</div>



			<div class="form-group">
				<div class="row">
					<button type="submit" value="Submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
		<br />


		

	</div>
	

