div#loginbox {
	background-color: white;
	width: 50%;
	margin-top: 10%;
	padding: 5% 0 5% 0;
}



.white{
	background-color: white;
	width: 100vw;
	height:  100vh;
	padding: 5%
}
.icon {
	padding-right: 20px;
	width: 50%;
	height: 50%;
	float: right;
}