
	<div class="container" id="loginbox">
		<div class="d-flex justify-content-center">
			<form action="">
				<h3>THE COFFEE HOUSE</h3>
				<div class="row mb-3">
					<div class="col">
						<input class="form-control" type="text" placeholder="Username"
							aria-label="username" />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<input class="form-control" type="text" placeholder="Password"
							aria-label="Password" />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col d-grid gap-2">
						<a class="btn btn-warning" href="/account-mgmt">Login</a>
					</div>
				</div>
			</form>
		</div>

	</div>
	
