<nav class="navbar navbar-light"
	style="background-color: #ffc404; padding: 0 10px 0 10px;">
	<h4>THE COFFEE HOUSE</h4>
	<img alt="icon" src="images/person-circle.svg">
</nav>
<div class="d-flex flex-column flex-shrink-0 bg-light"
	style="width: 4rem; height: 100%; position:fixed">
<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
	<li class="nav-item"><a href="#"
		class="nav-link active py-3 border-bottom" aria-current="page"
		title="" data-bs-toggle="tooltip" data-bs-placement="right"
		data-bs-original-title="Home"> <img alt="people"
			src="images/people-fill.svg">
	</a></li>
	<li><a href="#" class="nav-link py-3 border-bottom" title=""
		data-bs-toggle="tooltip" data-bs-placement="right"
		data-bs-original-title="Dashboard"> <img alt="cup"
			src="images/cup-fill.svg">
	</a></li>
	<li><a href="#" class="nav-link py-3 border-bottom" title=""
		data-bs-toggle="tooltip" data-bs-placement="right"
		data-bs-original-title="Orders"> <img alt="check"
			src="images/check2-square.svg">
	</a></li>
	<li><a href="#" class="nav-link py-3 border-bottom" title=""
		data-bs-toggle="tooltip" data-bs-placement="right"
		data-bs-original-title="Products"> <img alt="gear"
			src="images/gear-fill.svg">
	</a></li>
</ul></div>
